######### [framework] #########
# framework requirements will be installed by all extensions
pydantic>=2.9.2
pyyaml~=6.0.2
openai>=1.66.3
mcp[cli]~=1.30.0
python-dotenv>=1.0.1
cryptography>=42.0.0
executing~=2.2.0
kubernetes~=32.0.1
pyvis>=0.3.2
loguru>=0.7.3
dataclasses-json>=0.6.7
opentelemetry-api~=1.32.1
opentelemetry-sdk~=1.32.1
opentelemetry-exporter-otlp~=1.32.1
tiktoken~=0.9.0
fastapi
dingtalk-stream>=0.24.3
aiohttp>=3.9.5
click
packaging
numpy
langchain-text-splitters~=0.3.8
json_repair~=0.49.0
rich~=14.0.0
bs4~=0.0.2
pillow~=12.1.0

grep_ast~=0.9.0
tree-sitter-python~=0.25.0
pygrep~=0.3.2
tabulate~=0.9.0

# Cron scheduler
croniter>=1.4.0
pytz>=2023.3
